<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
<!--/*@thymesVar id="name" type=""*/-->
<p th:text="'Hello, ' + ${name} + '!'" />
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
</body>
<h2>HTML Table</h2>

<table id="klientsList">

</table>
<form action="#">
    <input id="klient_fio" placeholder="Klient FIO">
    <input id="klient_email" placeholder="Klient email">
    <input id="Klient_fone" placeholder="Klient fone">
    <input id="Klient_pasport" placeholder="Klient pasport">
    <button onclick="createKlient()">Create klient</button>
</form>
<script>
    function createKlient() {
        var klientFIO = document.getElementById("klient_fio").value;
        var klientEmail = document.getElementById("klient_email").value;
        var klientFone = document.getElementById("klient_fone").value;
        var klientPasport = document.getElementById("klient_pasport").value;

        var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance
        xmlhttp.open("POST", "http://localhost:8081/klient/save");
        xmlhttp.setRequestHeader("Content-Type", "application/json");
        xmlhttp.send(JSON.stringify({fio: klientFIO,  email: klientEmail,fone: klientFone,pasport: klientPasport}));
        loadUsers();
    }

    function loadUsers() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var klients = JSON.parse(this.responseText);
                var html = '<tr>\n' +
                    '        <th>Klient FIO</th>\n' +
                    '        <th>Klient email</th>\n' +
                    '        <th>Klient fone</th>\n' +
                    '        <th>Klient pasport</th>\n' +
                    '        <th>Delete</th>\n' +
                    '    </tr>';
                for (var i = 0; i < klients.length; i++) {
                    var klient = klients[i];
                    console.log(klient);
                    html = html + '<tr><td>' + klient.fio + '</td>\n' +
                        '        <td>' + klient.email + '</td>\n' +
                        '        <td>' + klient.fone + '</td>\n' +
                        '        <td>' + klient.pasport + '</td>' +
                        '        <td><button onclick="deleteUser(' + klient.pasport + ')">Delete</button></td></tr>';

                }
                document.getElementById("klientsList").innerHTML = html;
            }
        };
        xhttp.open("GET", "http://localhost:8081/klient/findAll", true);
        xhttp.send();
    }
    loadUsers();
</script>
</html>