<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

</head>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
<h2>Оформление кредита</h2>


<table id="offerList"></table>
<form action="#">
    <input id="offer_klient" placeholder="Offer klient">
    <input id="offer_kreditVid" placeholder="Offer kreditVid">
    <input id="offer_summa" placeholder="Offer summa">
    <button onclick="createOffer()">Оформить</button>
</form>
<script>
    //    function createKredit() {
    //     var kreditLimit = document.getElementById("kredit_limit").value;
    //     var kreditStavka = document.getElementById("kredit_stavka").value;
    //
    //     var xmlhttpkrt = new XMLHttpRequest();   // new HttpRequest instance
    //     xmlhttpkrt.open("POST", "http://localhost:8081/kredit/save");
    //     xmlhttpkrt.setRequestHeader("Content-Type", "application/json");
    //     xmlhttpkrt.send(JSON.stringify({limit: kreditLimit, stavka: kreditStavka}));
    //     xmlhttpkrt.onreadystatechange = function () {
    //         if (this.readyState == 4 && this.status == 200) {
    //             loadKredit();
    //         }
    //
    //     }
    // }

    // function deleteKredit(kreditId) {
    //     var xhtpp = new XMLHttpRequest();
    //     xhtpp.open("DELETE", "http://localhost:8081/kredit/delete/" + kreditId, true);
    //     xhtpp.send();
    // }
    //
    // function loadKredit() {
    //     var xhttpkrt = new XMLHttpRequest();
    //     xhttpkrt.onreadystatechange = function () {
    //         if (this.readyState == 4 && this.status == 200) {
    //             var kredits = JSON.parse(this.responseText);
    //
    //             var htmlkrt = '<tr>\n' +
    //                 '        <th>Kredit id</th>\n' +
    //                 '        <th>Kredit Limit</th>\n' +
    //                 '        <th>Kredit Stavka</th>\n' +
    //                 '    </tr>';
    //             for (var i = 0; i < kredits.length; i++) {
    //                 var kredit = kredits[i];
    //                 console.log(kredit);
    //
    //                 htmlkrt = htmlkrt + '<tr>' +
    //                     '<td>' + kredit.id + '</td>\n' +
    //                     '        <td>' + kredit.limit + '</td>\n' +
    //                     '        <td>' + kredit.stavka + '</td>\n' +
    //                     '        <td><button onclick="deleteKredit(' + kredit.id + ')">Удалить</button></td></tr>';
    //
    //             }
    //             document.getElementById("kreditsList").innerHTML = htmlkrt;
    //         }
    //     };
    //     xhttpkrt.open("GET", "http://localhost:8081/kredit/findAll", true);
    //     xhttpkrt.send();
    // }
    // loadKredit();
</script>
</body>
</html>


