<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

</head>
<head>
    <style type="text/css">
        TABLE {
            border-collapse: collapse; /* Убираем двойные линии между ячейками */
            width: 100%; /* Ширина таблицы */
        }

        TH, TD {
            border: 1px solid black; /* Параметры рамки */
            text-align: center; /* Выравнивание по центру */
            padding: 4px; /* Поля вокруг текста */
        }

        TH {
            background: #fc0; /* Цвет фона ячейки */
            height: 40px; /* Высота ячеек */
            vertical-align: bottom; /* Выравнивание по нижнему краю */
            padding: 0; /* Убираем поля вокруг текста */
        }
    </style>
</head>
<body>
<h2>Оформление кредита</h2>

<!--<form action="#">-->

<!--    <input id="graph_id" placeholder="ID">-->
<!--    <input id="graph_data" placeholder="Дата платежа">-->
<!--    <input id="graph_summa" placeholder="Сумма платежа">-->
<!--    <input id="graph_summa_osn" placeholder="Тело кредита">-->
<!--    <input id="graph_summa_proc" placeholder="Процент">-->

<!--</form>-->
<table id="offerList"></table>
<form action="#">
    <input id="offer_klient" placeholder="Клиент" th:value="${klient.id}" th:utext="${klient.getFio()}"/>
    <select id="selectKreditVid" th:field="*{kreditVid}">
        <option value="">Вид кредита</option>
        <option th:each="kredit : ${kreditVid}"
                th:value="${kredit.getId()}"
                th:utext="${'%'+kredit.getStavka()+'(лимит '+kredit.getLimit()+')'}"/>
    </select>-->

    <input id="offer_summa" placeholder="Сумма кредита">
    <input id="offer_srok" placeholder="Срок(года)">
    <button onclick="createOffer()">Оформить</button>
</form>
<table id="graphList"></table>

<script>
    function createOffer() {
        var id_klient = document.getElementById("offer_klient").value;
        var id_kredit = document.getElementById("selectKreditVid").value;
        var summa = document.getElementById("offer_summa").value;
        var srok = document.getElementById("offer_srok").value;
        var id_graph = 0;


        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("POST", "http://localhost:8081/offer/save");
        xmlhttp.setRequestHeader("Content-Type", "application/json");
        xmlhttp.send(JSON.stringify({id_kredit: id_kredit, id_klient: id_klient, summa: summa, id_graph: id_graph,srok:srok}));
        xmlhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                loadOffer();
            }

        }
    }
    function deleteOffer(kreditId) {
        var xhtpp = new XMLHttpRequest();
        xhtpp.open("DELETE", "http://localhost:8081/offer/delete/" + kreditId, true);
        xhtpp.send();
    }
    function insertGraph(offerId) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var graph = JSON.parse(this.responseText);
                var html = '<tr>\n' +
                    '        <th>ID</th>\n' +
                    '        <th>Дата платежа</th>\n' +
                    '        <th>Сумма платежа</th>\n' +
                    '        <th>Тело кредита</th>\n' +
                    '        <th>Процент</th>\n' +
                    '    </tr>';


                    // html = html + '<tr>' +
                    // '        <td>' + graph.id + '</td>\n' +
                    // '        <td>' + graph.data + '</td>\n' +
                    // '        <td>' + graph.summa + '</td>\n' +
                    // '        <td>' + graph.summa_osn + '</td>\n' +
                    // '        <td>' + graph.summa_proc + '</td>' ;
                document.getElementById("graphList").innerHTML = html;
            }
        };
        xhttp.open("GET", "http://localhost:8081/graph/findGraph?offer=" + offerId, true);
        xhttp.send();
    }


    function loadOffer() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var offers = JSON.parse(this.responseText);

                var html = '<tr>\n' +
                    '        <th>ID</th>\n' +
                    '        <th>Клиент</th>\n' +
                    '        <th>Вид кредита</th>\n' +
                    '        <th>Сумма кредита</th>\n' +
                    '        <th>Срок(года)</th>\n' +
                    '        <th>Действия</th>' +
                    '    </tr>';
                for (var i = 0; i < offers.length; i++) {
                    var offer = offers[i];
                    console.log(offer);

                    html = html + '<tr>' +
                        '        <td>' + offer.id + '</td>\n' +
                        '        <td>' + offer.id_klient + '</td>\n' +
                        '        <td>' + offer.id_kredit + '</td>\n' +
                        '        <td>' + offer.summa + '</td>\n' +
                        '        <td>' + offer.srok + '</td>\n' +
                        '        <td><button onclick="deleteOffer(' + offer.id + ')">Удалить кредит</button>'+
                    '        <td><button onclick="insertGraph(' + offer.id + ')">Сформировать график</button>'

                    ;

                }
                document.getElementById("offerList").innerHTML = html;
            }
        };
        xhttp.open("GET", "http://localhost:8081/offer/findAll", true);
        xhttp.send();

    }

    loadOffer();


</script>
</body>
</html>


